body
{
    background-color: rgb(32, 58, 6);
    margin: auto;
    align-items: center;
}
canvas
{
    margin-top: 45px;
    align-items: center;

}
button
{
    font-style: italic;
    color: red;
    border-radius: 30px;
    border-color: crimson;
    text-align:center;
    
}

